#masterContainer{
    max-width: 750px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.itemContainer{
    transition: all .5s;
    background: white;
    border: 1px solid lightgray;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
}

.itemContainer:hover{
    border: 1px solid transparent;
    background: whitesmoke;
}

.itemContainer-title{
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.itemContainer-description{
    font-size: 1.0rem;
    color: dimgray;
}

.spanRightButton{
    float: right;
    display: inline;
}

.span{
    display: inline;
}

.headerSection{
    position: relative;
    padding-top: 50px;
}

@media (max-width: 750px){

    #masterContainer{
        width: 80%;
        max-width: 80%;
    }

    .itemContainer-title{
        font-size: 2.5rem;
    }

    .itemContainer-description{
        font-size: 2.0rem;
    }
}