hr{
    border: 1px #e7ebee solid;
}

#carrot{
    position: absolute;
    height: 5rem;
    marginRight: 10px;
    right: 0px;
    bottom: 10px;
    verticalAlign: middle;
}

.btn{
    font-size: 1.00rem;
    margin: 3px;
}

.btn-lg{
    font-size: 1.5rem;
    margin: 3px;
}

.btn-group-sm{
    font-size: .75rem;
    margin: 2px;
}

.label-default{
    font-size: 1.5rem;
}

.btn-primary{
    background: #EA005E!important;
    border: none;
}

.btn-primary:hover{
    background: #c60050!important;
}

.btn-primary:active{
    background: #ae0046!important;
}

.label{
    margin-bottom: 10px;
    display: inline-block;
}

@media (max-width: 750px){

    #carrot{
        display: none;
    }
    
    .btn{
        font-size: 2rem;
    }

    .btn-lg{
        font-size: 3rem;
        margin: 3px;
    }

    .btn-group-sm{
        font-size: 1.5rem;
    }

    .label-default{
        font-size: 2rem;
    }
}