hr{
    border: 1px #e7ebee solid;
}

#carrot{
    position: absolute;
    height: 5rem;
    marginRight: 10px;
    right: 0px;
    bottom: 10px;
    verticalAlign: middle;
}

.emptyButton,
.emptyButton:hover,
.emptyButton:active,
.emptyButton:focus{
    color: inherit;
    background: inherit;
    border: none!important;
    outline: none!important;
    border-radius: 2px!important;
}

.btn{
    font-size: 1.00rem;
    margin: 3px;
}

.btn-lg{
    font-size: 1.5rem;
    margin: 3px;
}

.btn-group-sm{
    font-size: .75rem;
    margin: 2px;
}

.label-default{
    font-size: 1.25rem;
}

.btn-primary{
    background: #EA005E!important;
    color: white;
    border: none;
}

.btn-primary:hover{
    background: #c60050!important;
}

.btn-primary:active{
    background: #ae0046!important;
}

.label{
    margin-bottom: 10px;
    display: inline-block;
}

#languageSelection{
    text-align: right;
    margin-top: 25px;
}

#languageSelection-button{
    color: dodgerblue;
}

#languageSelection-button:hover{
    color: #EA005E;
}

.category-button,
.category-button:focus,
.category-button:active{
    color: white;
    background: gray;
}

.category-button:hover{
    color: white!important;;
    background: #969696!important;;
}

.category-button-selected,
.category-button-selected:focus,
.category-button-selected:active{
    color: white;
    background: #EA005E;
}

.category-button-selected:hover{
    color: white!important;
    background: #c60050!important;;
}

.category-clear,
.category-clear:active,
.category-clear:focus{
    color: black;
    margin-right: 15px;
    border: gray solid 1px!important;
    background: white;
}

.category-clear:hover{
    color: black!important;
    border: gray solid 1px!important;
    background: #f0f0f0 !important;;
}


@media (max-width: 750px){

    #carrot{
        display: none;
    }
}