h1{
    font-size: 2.25rem;
    font-weight: 700;
}

h2{
    position: relative;
    font-size: 2.0rem;
}

h3{
    font-size: 1.75rem;
    color: darkgrey;
}

p{
    font-size: 1.25rem;
    padding: 5px;
    line-height: 1.75;
}

b{
    color: #EA005E;
    font-weight: 600;
}

p a {
    color: dodgerblue;
    text-decoration: underline;
}

p a:hover{
    color: #EA005E;
}

.sectionTitle{
    border-bottom: 5px solid #EA005E;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.sectionTitle-alt{
    border-bottom: 5px solid dodgerblue;
    padding-bottom: 5px;
    display: inline-block;
    margin-top: 10px;
}

.sectionSubTitle{
    margin: 5px 5px 5px 0px;
}

.category-title {
    margin-bottom: 25px;
}

.project-sectionTitle{
    color: dodgerblue;
    margin-bottom: 25px;
}

.descriptionText{
    color: #EA005E;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-story{
    padding-left: 25px;
}

.smallText{
    font-size: 1.0rem;
}

@media (max-width: 750px){

    .category-title {
        margin-bottom: 20px;
    }

    .project-story{
        padding-left: 0px;
    }

    p{
        font-size: 1.25rem;
    }

    h1{
        font-size: 2.0rem;
        font-weight: 700;
    }

    h2{
        position: relative;
        font-size: 1.75rem;
    }

    h3{
        font-size: 1.5rem;
        color: darkgrey;
    }

}