/* CSS declarations go here */
*{
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 15px;
    background: #fafafa;
}

body{
    margin: 0;
    padding: 0;
}

#render-target{
    background: #fafafa;
}

@font-face {
    font-family: openSans;
    src: url("/open-sans/OpenSans.ttf");
}

@font-face {
    font-family: openSans-Bold;
    src: url("/open-sans/OpenSans-Regular.ttf");
}

h1, h2, p, ul, li, a {
    font-family: openSans;
}

b{
    font-family: openSans-Bold;
}

